html {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  background: none;
}

.text-twitter {
  color: #26c4f1;
}

.reverse-background {
  color: #fff;
  text-shadow: 0 1px 3px #000;
}
